.div-block {
  width: 100%;
  display: flex;
  padding-bottom: 42px;
  flex-direction: column;
}

.block {
  width: 90%;
  margin: auto;
  height: 75vh;
  background-color: rgb(237, 218, 253);
  border-radius: 20px;
  border: 2px solid var(--violet);
}
.block-one {
  width: 90%;
  margin: auto;
}
.block-two {
  width: 90%;
}

.blockTwo {
  margin: auto;
  width: 90%;
  height: 380px;
  background-color: rgb(237, 218, 253);
  border-radius: 0 0 20px 20px;
  border: 2px solid var(--violet);
  margin-top: 42px;
}
.title {
  align-items: center;
  color: var(--white);
  background-color: var(--violet);
  border-radius: 15px;
}

.table-total th,
.table-total td {
  width: 2%;
  padding: 8px;
  text-align: center;
}
