.container-info {
  width: 100%;

  display: flex;
  margin-top: 30px;
}
.container-one {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}
.container-days {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: auto;
}
.selects {
  margin-left: 30px;
  width: 35%;
  gap: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/*-----------------------------------------------------------------------------------------*/
.label {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.label-center {
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-content: center;
  text-align: center;
  width: fit-content;
}
.label-center p {
  margin: 0;
}
.label p {
  margin: 0;
}
.select {
  padding: 8px;
  border: 1px solid var(--violet);
  border-radius: 5px;
}
/*-----------------------------------------------------------------------------------------*/
.container-two {
  display: grid;
}
.input-description {
  padding: 2px;
  width: 260px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid var(--violet);
}

/*-----------------------------------------------------------------------------------------*/
.container-thre {
  display: flex;
  gap: 50px;
  margin-bottom: 45px;
}
.input-hour {
  width: 40px;
  height: 20px;

  border-radius: 5px;
  border: 1px solid var(--violet);
}
.total {
  width: 40px;
}
.input-hour[type="number"] {
  text-align: center;
}
.button-insert {
  margin: auto;
  width: 200px;
  height: 30px;

  background-color: var(--violet);
  color: var(--white);
  border: 0;
  border-radius: 20px;
}
