.container-info{
    width: 100%;
    height: 100px;
    top: 200px;
    display: grid;
    grid-template-columns: auto auto auto ;
}
/*-----------------------------------------------------------------------------------------*/
.container-one{
    display: grid;
    grid-template-columns: auto auto auto auto ;
}
.select{
    width: 110px;
    height: 20px;
    margin-left: 30px;
    border: 1px solid var(--violet);
    border-radius: 10px;
}
/*-----------------------------------------------------------------------------------------*/
.container-two{
    display: grid;
    grid-template-columns: 100%;
}
.input-description{
    width: 150px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid var(--violet);
}


/*-----------------------------------------------------------------------------------------*/
.container-thre{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
    justify-content: center;
}
.input-hour{
    width: 40px;
    height: 20px;
    margin-left: 40px;
    border-radius: 5px;
    border: 1px solid var(--violet);
}
.total{
    width: 40px;
}
.input-hour[type="number"] {
    text-align: center;
  }
.button-insert{
    width: 20%;
    height: 27px;
    background-color: var(--violet);
    color: var(--white);
    border: 0;
    border-radius: 20px;;
}