.container-info{
    width: 93%;
    height: 50px;
    position: absolute;
    top: 86%;
    left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*-----------------------------------------------------------------------------------------*/
.container-one{
    display: flex;
    width: 35%;
    margin-left: 7px;
}
.select{
    width: 140px;
    height: 20px;
    margin-left: 12px;
    border: 1px solid var(--violet);
    border-radius: 10px;
}
/*-----------------------------------------------------------------------------------------*/
.container-two{
    display: flex;
    width: 0%;
    position: relative;
    left: -5%;
}
.input-description{
    width: 120px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid var(--violet);
}


/*-----------------------------------------------------------------------------------------*/
.container-thre{
    display: flex;
    display: 50%;
    position: relative;
    left: 1.5%;
}
.input-hour{
    width: 40px;
    height: 20px;
    margin-right: 40px;
    border-radius: 5px;
    border: 1px solid var(--violet);
}
.total{
    width: 40px;
}
.input-hour[type="number"] {
    text-align: center;
  }
.button-insert{
    width: 80px;
    height: 40px;
    background-color: var(--violet);
    color: var(--white);
    border: 0;
    border-radius: 20px;
    position: relative;
    left: -4%;
}