.contenedor {
  text-align: center;
  position: absolute;
  left: 7%;
  top: 60px;
}

.desplegable {
  position: relative;
  display: inline-block;
}
.select-hours {
  
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--violet);
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  outline: none; 
}

.select-hours:focus {
  border-color: var(--violet);
  box-shadow: 0 0 5px var(--violet);
}