.timeSheetItem {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: 50px auto;
  font-size: 13px;
}
.icons {
  cursor: pointer;
}

