.timeSheetItem {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 101%;
  height: 30px;
  font-size: 12px;
  align-items: center;
}
.containerOne {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  position: relative;
  left: -3%;
}
.containerTwo {
  display: flex;
  width: 20%;
  justify-content: center;
  position: relative;
  left: -3%;
}
.containerThree {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  position: relative;
  left: -6%;
}
.day {
  margin-left: 13%;
}
