.container{
    width: 99%;
    display: grid;
    grid-template-columns: auto auto auto;
    top: 30%;
    left: 1%;
}
.container-client{
   display: grid;
   grid-template-columns:  auto auto auto auto auto auto auto auto ;
}
.container-desc{
    display: grid;
    justify-content: center;
}
.container-days{
    display: grid;
    grid-template-columns:  auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}
