.container{
    width: 100%;
    display: flex;
    position: absolute;
    top: 30%;
    left: 1%;
}
.container-client{
   display: flex;
   margin-left: 5px;
}
.container-desc{
    display: flex;
    width: 150px;
}
.container-days{
   display: flex;
}
