.block-line{
    width: 95%;
    height: 70vh;
    position: absolute;
    top: 52%;
    left: 3%;
}
.lineThree{
    height: 4px;
    width: 94%;
    position: absolute;
    top: 70%;
    left: 40px;
    border-radius: 10px;
}