.block-line{
    width: 95%;
    height: 70vh;
    position: absolute;
    top: 52%;
    left: 3%;
}
.lineOne{
    height: 4px;
    width: 94%;
    background-color: var(--violet);
    position: absolute;
    top: 30%;
    left: 40px;
    border-radius: 10px;
}
.lineTwo{
    height: 4px;
    width: 94%;
    background-color: var(--violet);
    position: absolute;
    top: 45%;
    left: 40px;
    border-radius: 10px;
}
.lineThree{
    height: 4px;
    width: 94%;
    background-color: var(--violet);
    position: absolute;
    top: 63%;
    left: 40px;
    border-radius: 10px;
}